## ReadMe

En este ejercicio de ETL vamos a utilizar datos basados en una maratón en Barcelona.

Hemos extraido una base de datos en csv y hemos scrapeado la información de una página web para hacer la unión de ambas tablas.

El proceso ha consistido en trabajar en el cuaderno Jupyter para poder limpiar y transformar los datos, tanto añadiendo, como sustituyendo valores nulos y quitando duplicados.

Una vez tenemos la tabla lista la importamos a MySQL para poder lanzar varias queries comprobando que la tabla está correctamente.